/* main color #fff(white) + #0A0E29(dark blue) and #123B80(blue) for contrast*/
/* secondary colors #40E2B8(light green) #EEBC2F(light orange) #F54B4B(red)#*/
/* input fields #2B3154 - placeholder text #aaa*/
body {
    color: #fff;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-color: #0A0E29;
    line-height: 1.3;
}
header {
    position: absolute;
    background: none!important;
    left: 0;
    right: 0;
    z-index: 9998;
    margin-bottom: 2%;
}
h1 { 
    display: none;
}
h2, h3, h4, h5 {
    font-family: 'Exo 2', sans-serif;
    text-transform: capitalize;
    margin-bottom: 10px;
}
h3 {
    font-size: 1.7em;
    margin-top: 10px;
    margin-bottom: 5px;
}
h4 {
    font-size: 1.3em;
}
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
}
a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
a:hover {
    font-weight: bold;
    text-shadow: none;
}
article > a {
    text-transform: none;
    text-decoration: underline;
}
article li {
    list-style: square;
    margin-left: 2em;
}
figure {
    margin:0;
    padding-left: 2%;
    flex: 1;
}
article img {
    margin-top: 15px;
}
.logo {
    flex: 1;
    margin-right: 5%;
    position: relative;
    top: 4px;
    max-width: 250px;
    z-index: 9999;
}
/* wrappers */
.contwrap {
    display: flex;
    flex-direction: column;
    padding: 2% 4%;
    margin: 0 auto;
    max-width: 1000px;
}
.innerwrap {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-between;
}
.wrapper {
    padding: 1% 0;
}
.wrapper:nth-child(odd) {
    background-color: #123B80;
}
@media only screen and (min-width: 600px) {
    .innerwrap {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        justify-content: space-between;
    }
}
@media only screen and (min-width: 900px) {
    .contwrap {
        flex-direction: row;
    }
    footer .contwrap {
        flex-direction: column;
    } 
}
@media only screen and (min-width: 1000px) {
    footer .contwrap {
        flex-direction: row;
    } 
}
/* top content */
.featured {
    height: 580px;
    background-color: #0A0E29;
    background-image: url(../img/featured/fea_home_m.jpg);
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
}
.feacont {
    position: absolute;
    text-shadow: 1px 2px 9px #000;
    bottom: 35px;
    max-width: 320px;
}
.feacont h2, .subtopcont h2, .sublaunchcont h2 {
    font-size: 3em;
}
.subtop {
    min-height: 580px;
    background-color: #000!important;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.subtopcont, .sublaunchcont {
    position: absolute;
    text-shadow: 1px 2px 9px #000;
    bottom: 20px;
    padding-right: 2%;
}
.sublaunch {
    background-image: url(../img/featured/fea_launch.jpg);
    background-position: top left;
}
.subcontact {
    background-image: url(../img/featured/fea_contact.jpg);
    background-position: top 0 left 30%;
}
.subabout {
    background-image: url(../img/featured/fea_about.jpg);
    background-position: top -50px left -250px;
    background-size: cover;
}
@media only screen and (min-width: 500px) {
    .sublaunchcont {
        max-width: 460px;
    }
    .subtopcont {
        max-width: 350px;
    }
}
@media only screen and (min-width: 411px) {
    .subabout {
        background-position: bottom center;
        background-size: cover;
    }
}
@media only screen and (min-width: 900px) {
    .sublaunch {
        background-position: bottom center;
    }
    .subcontact {
        background-position: top center;
    }
    .subabout {
        background-position: bottom -100px center;
        background-size: auto;
    }
    .featured {
        background-position: center center;
        background-image: url(../img/featured/fea_home.jpg);
    }
}

@media only screen and (min-width: 1980px) {
    .subabout {
        background-position: bottom -250px center;
        background-size: cover;
    }
}
/* sections and columns */
.col1 {
    flex: 1;
    width: 100%;
}
.col2 {
    flex: 2;
}
.col3 {
    flex: 3;
}
.col6 {
    flex: 3;
}
.colMedia {
    padding-top: 2%;
    order: 1;
}
.colText {
    order: 2;
    padding-bottom: 2%;
}
.lrgnum {
    display: flex;
    font-size: 3.5em;
    margin: auto;
}
.nobreak {
    display: inline-block;
}
#countDown {
    display: flex;
    margin-bottom: 4%;
    padding: 0;
}
.countSpace {
    margin-bottom: 0.5em;
}
.center {
    text-align: center;
    padding: 2% 0;
}
.borderbtm {
    border-bottom: 1px #fff solid;
}
.vcenter {
    margin: auto;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #0A0E29;
    z-index: 9997;
    border-bottom: 1px #aaa dotted;
    padding: 0 3% 0 4%;
}
.sticky h3 {
    font-size: 1.2em;
}
@media only screen and (min-width: 350px) {
    #countDown {
        padding: 2% 4%;
    }
}
@media only screen and (min-width: 900px) {
    .lrgnum {
        font-size: 4.5em;
    }
    .borderbtm {
        border-bottom: none;
    }
    .colMedia {
        padding: 2%;
        order: none;
    }
    .colText {
        order:1;
        padding: 2%;
    }
    .col6 {
        flex: 6;
    }
}
/* buttons */
button {
    text-transform: uppercase;
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    text-align: left;
    -webkit-appearance: button;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}
.btn {
    display: inline-block;
    border: 2px #fff solid;
    padding: 9px 16px 9px 9px;
    text-decoration: none;
    margin: 1% 2% 0 0;
    width: auto;
    white-space: nowrap;
}

.btnSel, .btn:hover, .btn:active, .btn:focus .btn:after {
    background-color: #fff;
    color: #0A0E29;
    cursor: pointer;
    text-shadow: none;
}
.btnLrg {
    width: 86.5%;
    display: inline-flex;
}
.btnLrg:hover {
    cursor: default;
}
.btnHlf {
    width: 86.5%;
}
.btn < a {
    text-decoration: none;
}
.spe {
    color: #EEBC2F;
    border: 2px #EEBC2F solid;
    text-align: center;
    min-width: 160px;
    width: auto;
    padding-right: 9px;
    margin: 0;
}
.btn:nth-child(1) {
    margin-bottom: 2%;
}
.spe a:hover {
    color: #0A0E29;
}
.spe:hover, .spe:active, .spe:focus, .spe:after {
    color: #0A0E29;
    background-color: #EEBC2F;
    border-color: #EEBC2F;  
}
@media only screen and (min-width: 1000px) {
    .spe {
        margin-left: 8%;
    }
}
@media only screen and (min-width: 525px) {
    .btn:nth-child(1) {
        margin-bottom: 0%;
    }
    .btnLrg {
        width: 90.5%;
    }
    .btnHlf {
        width: 40.5%;
    }
}
/* Toggle btn */
.toggle {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 30%;
    max-width: 30%;
    height: 36px;
}
.toggle input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.toggleBox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #aaa;
    -webkit-transition: .4s;
    transition: .4s;
}
.toggleBox:hover {
    cursor: pointer;
}
.toggleBox:before {
    position: absolute;
    content: "";
    height: 78%;
    width: 48%;
    left: 5%;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .5s;
    transition: .5s;
}
input:checked + .toggleBox {
    background-color: #40E2B8;
}
input:checked + .toggleBox:before {
    -webkit-transform: translateX(86%);
    -ms-transform: translateX(86%);
    transform: translateX(86%);
}
/* nav */
nav {
    color: #fff;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
}
nav li {
    width: 100%;
    position: relative;
    background: #0A0E29;
}
nav ul {
    display: none;
}
nav a {
    display: block;
    padding: 5%;
    color: #fff;
    position: relative;
    overflow: visible;
    text-decoration: none;
    margin: 12px;
    text-align: center;
    border-bottom: 2px #0A0E29 solid;
}
nav a:hover {
    font-weight: bold;
    padding-bottom: 5%;
    border-bottom: 2px #fff solid;
}
.active {
    padding-bottom: 5%;
    border-bottom: 2px #fff solid;
}
nav input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    padding: 19px;
    color: #1a1a1a;
    width: auto;
    background: none;
    outline: none;
    position: absolute;
    right: 4%;
    background: url(../gfx/icons/menu_icon.svg) no-repeat center;
    border: 0;
}
nav input[type=checkbox]:checked {
    display: inline-block;
    background: url(../gfx/icons/x_icon.svg) no-repeat center;
    z-index: 9999;
}
nav input[type=checkbox]:checked ~ ul {
    font-weight: bold;
    display: block;
    width: 96%;
    background: #0A0E29;
    position: absolute;
    padding: 20% 2% 10% 2%;
    top: -25px;
    box-shadow: 0px 10px 300px 200px #0A0E29;
}
@media only screen and (min-width: 1000px) {
    nav {
        position: relative;
        width: auto;
        flex: 2;
    }
    nav a {
        margin: 12px;
        border: none;
        top: 0;
    }
    nav li {
        background: none;
        top: -15px;
        margin: auto
    }
    nav a:hover {
        border-bottom: 2px #fff solid;
    }
    nav input[type=checkbox] ~ ul {
        display: flex;
    }
    nav label {
        display: none;
    }
    nav input {
        display: none;
    }
    nav input[type=checkbox] {
        display: none;
    }
    nav input[type=checkbox]:checked {
        display: none;
    }
}
/* icons */
i {
    display: inline;
    vertical-align: middle;
    margin-right: 5px;
}
/* forms */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.fdevider { /* form devider */
    display: flex;
    flex-direction: column;
    width: 100%;
}
.smlform {
    flex-direction: row;
    font-size: 0.9em;
}
fieldset {
    width: auto;
    padding: 0;
    margin: 0% 2%;
    border: 0;
    flex: 1;
}
label {
    display: none;
    margin: 0;
}
.formField {
    display: flex;
    margin-bottom: 2%;
    flex-direction: column;
}
input, textarea  {
    font-family: inherit;
    font-size: 1em;
    color: #fff;
    padding: 10px;
    background: #2B3154;
    flex: 1;
    border: 2px #2B3154 solid;
    margin: 5px 10px 0 0;
}
textarea {
    height: auto;
    min-height: 78px;
    margin-bottom: 9px;
}
input:focus {
    border-bottom-color: #fff;
}
.fieldValid {
    border-bottom-color: #40E2B8;
}
.fieldInvalid {
    border-bottom-color: #F54B4B;
}
input[type=submit] {
    text-align: left;
    cursor: pointer;
    background: none;
    border: 2px #fff solid;
}
button[type=submit] {
    color: #40E2B8;
    border: 2px #40E2B8 solid;
}
button[type=submit]:hover {
    background-color: #40E2B8;
}
.aboveall {
    z-index: 9999;
    position: absolute;
    margin: auto;
}
button[type=reset] {
    color: #aaa;
    border: 2px #aaa solid;    
}
button[type=reset]:hover {
    background-color: #aaa;
}
.error {
    padding: 2%;
    color: #F54B4B;
}
.success {
    font-weight: bold;
    padding: 2%;
    color: #0A0E29; 
    background-color: #40E2B8;
    margin-top:20px;
}
@media only screen and (min-width: 1000px) {
    .fdevider {
        flex-direction: row;
    }
}
/* footer */
footer {
    display: flex;
    flex-direction: column;
}
.footynav {
    padding: 5%;
    border-bottom: 1px #fff solid;
    text-align: center;
}
.footynav ul {
    display: block;
}
.footynav a:hover {
    border-bottom: 2px #fff solid;
    padding-bottom: 5%;
}
.footynav li {
    display: inline-block;
    padding: 5%;
    margin: auto;
}
.footynav .spe {
    display: block;
}
.footysome {
    padding: 4%;
    flex:1;
    margin: auto;
    min-width: 145px;
}
.footysome ul {
    display: flex;
    padding: 2% 0;
    margin-top: 10%;
}
.footysome li {
    width: 100%;
    flex:1;
    padding-left: 10%;
    max-width: 40px;
}
.copyinfo {
    color: #aaa;
    text-align: center;
    font-size: 0.7em;
    text-transform: uppercase;
    padding: 2% 0;
}
@media only screen and (min-width: 1000px) {
    .footynav {
        flex: 2;
        padding: 0px;
        padding-right: 5%;
        border-right: 1px #fff solid;
        border-bottom: 0px;
        text-align: left;
    }
    .footynav ul {
        display: flex;
    }
    .footynav li {
        padding: 0;
        flex: 1;
    }
    .footysome {
        padding: 0;
        padding-left: 2%;
        text-align: left;
        margin: 0;
        margin: auto;
    }
    .footysome ul {
        margin-top: 0;
    }
    .footysome li {
        padding-left: 10%;
        max-width: 26px;
    }
}
/* calendar / shedule / table */
.calTable {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 4%;
}
.calRow {
    flex-wrap: wrap;
    width: 100%;
    padding: 4% 4%;
}
.calRow:nth-child(odd) {
    background-color: #123B80;
}
.calRow p {
    margin: 0;
    position: relative;
}
.calCol {
    display: inline-flex;
    box-sizing: border-box;
    width: 19%;
    margin-right: 2%;
}
.calName {
    width: 56%;
}
.calRocket {
    display: none;
}
.calHide {
    display: none;
}
.calShow {
    display: block;
}
.calInfo {
    display: flex;
    padding: 4% 0 2% 0;
}
.patch {
    width: 100%;
    height: auto;
    margin: auto;
}
@media only screen and (min-width: 411px) {
    .calCol {
        width: 19%;
    }
    .calName {
        width: 56%;
    }
}
@media only screen and (min-width: 650px) {
    .calName {
        width: 33%;
    }
    .calRocket {
        display: inline-flex;
        width: 20%;
    }
}
@media only screen and (min-width: 900px) {
    .calInfo {
        padding: 2% 0;
    }
}
/* rockets */
.rocket {
    flex:1;
}
@media only screen and (min-width: 600px) {
    .rocket {
        max-width: 300px;
        padding-left: 3%;
    }
}