/* main color #fff + #0A0E29(dark blue) and #123B80(blue) for contrast*/
/* secondary colors #40E2B8(green) #EEBC2F(yellow) #F54B4B(red)#*/
/* input fields #2B3154 placeholder text #aaa*/
body {
    color: #fff;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-color: #0A0E29;
}
header {
    position: absolute;
    background: none!important;
    left: 0;
    right: 0;
    z-index: 9998;
    margin-bottom: 2%;
}
h1 { 
    display: none;
}
h2, h3, h4, h5 {
    font-family: 'Exo 2', sans-serif;
    text-transform: capitalize;
    margin-bottom: 10px;
}
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
}
a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
a:hover {
    font-weight: bold;
    text-shadow: none;
}
article > a {
    text-transform: none;
    text-decoration: underline;
}
article li {
    list-style: circle;
}
figure {
    margin:0;
    padding-left: 2%;
}
.logo {
    flex: 1;
    margin-right: 5%;
    position: relative;
    top: 4px;
    max-width: 250px;
    z-index: 9999;
}
/* wrappers */
.contwrap {
    display: flex;
    flex-direction: column;
    padding: 2% 4%;
    margin: 0 auto;
    max-width: 1000px;
}
.wrapper {
    padding: 1% 0;
}
.wrapper:nth-child(odd) {
    background-color: #123B80;
}
@media only screen and (min-width: 900px) {
    .wrapper {
        padding: 1% 10%;
    }
    .contwrap {
        flex-direction: row;
    }
    footer .contwrap {
        flex-direction: column;
    } 
}
@media only screen and (min-width: 1000px) {
    .wrapper {
        padding: 1% 5%;
    }
    footer .contwrap {
        flex-direction: row;
    } 
}
@media only screen and (min-width: 1500px) {
    .wrapper {
        padding: 1% 15%;
    }
}
@media only screen and (min-width: 1800px) {
    .wrapper {
        padding: 1% 25%;
    }
}
/* sections and columns */
.featured {
    height: 540px;
    background-color: #0A0E29;
    background-image: url(../img/2013/2013_-_11_vandenberg_sunset_rocket_on_pad_m.jpg);
    background-position: bottom center;
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
}
.feacont {
    position: absolute;
    text-shadow: 3px 3px 5px #000;
    bottom: 7%;
    max-width: 500px;
}
.feacont h2 {
    font-size: 3em;
}
.subtop {
    min-height: 450px;
    background-color: #0A0E29!important;
    position: relative;
}
.subtopcont {
    max-width: 500px;
    position: absolute;
    text-shadow: 3px 3px 5px #000;
    bottom: 0;
}
.subtopcont h2 {
    font-size: 3em;
}
.col1 {
    flex: 1;
    width: 100%;
}
.col3 {
    flex: 3;
}
.col6 {
    flex: 3;
}
.colMedia {
    padding-top: 2%;
    order: 1;
}
.colText {
    order: 2;
    padding-bottom: 2%;
}
.lrgnum {
    font-size: 5em;
}
.center {
    text-align: center;
}
.vcenter {
    margin: auto;
    margin-left: 0;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #0A0E29;
    z-index: 9997;
    border-bottom: 1px #aaa dotted;
    padding: 0 6% 0 4%;
}
@media only screen and (min-width: 900px) {
    .featured {
        background-position: center center;
        background-image: url(../img/2013/2013_-_11_vandenberg_sunset_rocket_on_pad.jpg);
    }
    .colMedia {
        padding: 2%;
        order: none;
    }
    .colText {
        order:1;
        padding: 2%;
    }
    .col6 {
        flex: 6;
    }
}
/* buttons */
button {
    text-transform: uppercase;
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
    text-align: left;
}
.btn {
    display: inline-block;
    border: 2px #fff solid;
    padding: 9px 16px 9px 9px;
    text-decoration: none;
    text-shadow: none;
    margin: 1% 2% 0 0;
    width: auto;
    white-space: nowrap;
}
.btn:after {
    background: #fff;
    color: #0A0E29;
}
.btn:hover {
    background-color: #fff;
    color: #0A0E29;
    cursor: pointer;
}
.btnSel, .btn:active, .btn:focus {
    background-color: #fff;
    color: #0A0E29;
}
.btnSel {
    background-color: #fff;
    color: #0A0E29;
}
.btnLrg {
    width: 89.5%;
    display: inline-flex;
}
.btnLrg:hover {
    cursor: default;
}
.btnHlf {
    width: 89.5%;;
}
.btn < a {
    text-decoration: none;
}
.spe {
    color: #EEBC2F;
    border: 2px #EEBC2F solid;
    text-align: center;
    min-width: 160px;
    width: auto;
    padding-right: 9px;
}
.spe a:hover {
    color: #0A0E29;
}
.spe:hover {
    color: #0A0E29;
    background-color: #EEBC2F;
    border-color: #EEBC2F;  
}
@media only screen and (min-width: 525px) {
    .btnHlf {
        width: 40.5%;
    }
}
/* Toggle btn */
.toggle {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 30%;
    max-width: 30%;
    height: 36px;
}
.toggle input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.toggleBox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #aaa;
    -webkit-transition: .4s;
    transition: .4s;
}
.toggleBox:hover {
    cursor: pointer;
}
.toggleBox:before {
    position: absolute;
    content: "";
    height: 78%;
    width: 48%;
    left: 5%;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .5s;
    transition: .5s;
}
input:checked + .toggleBox {
    background-color: #40E2B8;
}
input:checked + .toggleBox:before {
    -webkit-transform: translateX(86%);
    -ms-transform: translateX(86%);
    transform: translateX(86%);
}
/* nav */
nav {
    color: #fff;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
}
nav li {
    width: 100%;
    position: relative;
    background: #0A0E29;
}
nav ul {
    display: none;
}
nav a {
    display: block;
    padding: 5%;
    color: #fff;
    position: relative;
    overflow: visible;
    text-decoration: none;
    margin: 10px;
    text-align: center;
}
nav a:hover {
    font-weight: bold;
    padding-bottom: 5%;
    border-bottom: 2px #fff solid;
}
.active {
    padding-bottom: 5%;
    border-bottom: 2px #fff solid;
}
nav input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    padding: 19px;
    color: #1a1a1a;
    width: auto;
    background: none;
    outline: none;
    position: absolute;
    right: 4%;
    background: url(../gfx/icons/menu_icon.svg) no-repeat center;
    border: 0;
}
nav input[type=checkbox]:checked {
    display: inline-block;
    background: url(../gfx/icons/x_icon.svg) no-repeat center;
}
nav input[type=checkbox]:checked ~ ul {
    display: block;
    width: 100%;
    background: #0A0E29;
    position: absolute;
    padding-bottom: 5%;
    top: 50px;
}
@media only screen and (min-width: 1000px) {
    nav {
        position: relative;
        width: auto;
        flex: 2;
    }
    nav a {
        margin: 8%;
        border: none;
        top: 0;
    }
    nav li {
        background: none;
        top: -15px;
        margin: auto
    }
    nav a:hover {
        border-bottom: 2px #fff solid;
    }
    nav input[type=checkbox] ~ ul {
        display: flex;
    }
    nav label {
        display: none;
    }
    nav input {
        display: none;
    }
    nav input[type=checkbox] {
        display: none;
    }
    nav input[type=checkbox]:checked {
        display: none;
    }
}
/* icons */
i {
    display: inline;
    vertical-align: middle;
    margin-right: 4%;
}
/* forms */
form {
    width: 100%;
    display: flex;
}
input  {
    font-size: 1em;
    color: #fff;
    padding: 2%;
    background: #2B3154;
    flex: 1;
    border: 0px;
    border: 2px #2B3154 solid;
    margin: 1% 2% 0 0;
}
input:focus {
    border-bottom-color: #fff;
}
/*input:valid {
    border-bottom-color: #40E2B8;
} */
input[type=text], input[type=email] {
    min-width: 50%;
}
input[type=submit] {
    text-align: left;
    cursor: pointer;
    background: none;
    border: 2px #fff solid;
}
form > input[type=submit] {
    color: #40E2B8;
    border: 2px #40E2B8 solid;
}
#msg {
    padding: 2%;
}
/* footer */
footer {
    display: flex;
    flex-direction: column;
}
.footynav {
    padding: 5%;
    border-bottom: 1px #fff solid;
    text-align: center;
}
.footynav ul {
    display: block;
}
.footynav a:hover {
    border-bottom: 2px #fff solid;
    padding-bottom: 5%;
}
.footynav li {
    display: inline-block;
    padding: 5%;
    margin: auto;
}
.footynav .spe {
    display: block;
}
.footysome {
    padding: 4%;
    flex:1;
    margin: auto;
    min-width: 145px;
}
.footysome ul {
    display: flex;
    padding: 2% 0;
    margin-top: 10%;
}
.footysome li {
    width: 100%;
    flex:1;
    padding-left: 10%;
    max-width: 40px;
}
.copyinfo {
    color: #aaa;
    text-align: center;
    font-size: 0.9em;
}
@media only screen and (min-width: 1000px) {
    .footynav {
        flex: 2;
        padding: 0px;
        padding-right: 5%;
        border-right: 1px #fff solid;
        border-bottom: 0px;
        text-align: left;
    }
    .footynav ul {
        display: flex;
    }
    .footynav li {
        padding: 0;
        flex: 1;
    }
    .footysome {
        padding: 0;
        padding-left: 2%;
        text-align: left;
        margin: 0;
        margin: auto;
    }
    .footysome ul {
        margin-top: 0;
    }
    .footysome li {
        padding-left: 10%;
        max-width: 26px;
    }
}
/* calendar / shedule / table */
.calTable {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 4%;
}
.calRow {
    flex-wrap: wrap;
    width: 100%;
    padding: 4% 4%;
}
.calRow:nth-child(odd) {
    background-color: #123B80;
}
.calRow p {
    margin: 0;
    position: relative;
}
.calCol {
    display: inline-flex;
    box-sizing: border-box;
    width: 20%;
}
.calName {
    width: 56%;
}
.calRocket {
    display: none;
}
.calHide {
    display: none;
}
.calShow {
    display: block;
}
.calInfo {
    display: flex;
    padding: 4% 0 2% 0;
}
.patch {
    width: 100%;
    margin: auto;
}
@media only screen and (min-width: 411px) {
    .calCol {
        width: 19%;
    }
    .calName {
        width: 58%;
    }
}
@media only screen and (min-width: 650px) {
    .calName {
        width: 38%;
    }
    .calRocket {
        display: inline-flex;
        width: 20%;
    }
}
@media only screen and (min-width: 900px) {
    .calCol {
        padding: 2%;
    }
    .calInfo {
        padding: 2%
    }
}